@import url('https://fonts.googleapis.com/css?family=Frijole');

body{
  margin: 0;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

h1{
  color: #004466;
  font-size: 45px;
  font-family: "Frijole";
  text-align: center;
  background-color: white;
}
.col-xs-6 {
  overflow: hidden;
}

.road{
  height: 880px;
  width: 100%;
  background-image: url("../images/dirt-road.jpg");
  background-size: cover;
  background-position: center;
  margin: 0px 0px;
  border: 3px black solid;
  float: left;
  display: inline-block;
}

.user-bike{
  width: 170px;
  height: auto;
  position: absolute;
  bottom: 0;

}

.object{
  height: 80px;
  width: 80px;
  position: absolute;
}

/*.rocket{
  background-image: url("../images/rocket.png");
  background-size: cover;
  width: 150px;
  height: 150px;
  border: 1px solid darkgray;
}*/
