@import url('https://fonts.googleapis.com/css?family=Frijole');

body{
  margin: 0;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

h1{
  color: #004466;
  font-size: 45px;
  font-family: "Frijole";
  text-align: center;
  background-color: white;
}
