@import url('https://fonts.googleapis.com/css?family=Frijole');

@keyframes animatedBackground {
	to { background-position: 0 100%; }
}

body{
  margin: 0;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

h1{
  color: #004466;
  font-size: 45px;
  font-family: "Frijole";
  text-align: center;
  background-color: white;
}

#start{
	color: black;
	font-size: 45px;
	font-family: "Frijole";
	text-align: center;
	background-color: white;
	margin-top: 300px;
	margin-left: 40vw;
	width: 20vw;
	border: 10px solid black;

}
